<form #heroForm="ngForm" (ngSubmit)="getUserForm(heroForm.value)">
  <!-- First Name -->
  <div class="form-group">
    <label for="fName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="fName"
      required
      [(ngModel)]="model.fName"
      name="fName"
      #fName="ngModel"
    />
    <label for="lName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lName"
      required
      [(ngModel)]="model.lName"
      name="lName"
      #lName="ngModel"
    />
    <!-- <input
      type="text"
      class="form-control"
      id="fName"
      required
      [(ngModel)]="model.fName"
      name="fName"
      #fName="ngModel"
    /> -->
    <label for="city">City</label>
    <input
      type="text"
      class="form-control"
      id="city"
      required
      [(ngModel)]="model.city"
      name="city"
      #city="ngModel"
    />
    <div class="alert alert-danger">Name is required</div>
  </div>
  <button
    type="submit"
    class="btn btn-success"
    [disabled]="!heroForm.form.valid"
  >
    Submit
  </button>
</form>

<router-outlet></router-outlet>
