<mat-card class="mat-elevation-z3 mt-3">
  <mat-card-content>
    <div>
      <img
        class="card-img-top img-fluid mr-2"
        src="../../assets/birthday.jpeg"
        alt="Card image cap"
      />
    </div>

    <div class="mt-3">
      <h3 class="card-title">
        <b>Full Name: </b>{{ data.fName }} {{ data.lName }}
      </h3>
      <h3 class="card-text">
        <b>BirthDate: </b> {{ formatDateString(data.date) }}
      </h3>
      <h3 class="card-text"><b>Country:</b> {{ data.country }}</h3>
    </div>
  </mat-card-content>
</mat-card>
